<a href="https://colab.research.google.com/github/levantanfc11/data-analysis/blob/main/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [2]:
import pandas as pd
import numpy as np
ex1 = pd.Series([1, 4, 7, 9, 10, 12, 15, 16, 17, 18])
ex1

0     1
1     4
2     7
3     9
4    10
5    12
6    15
7    16
8    17
9    18
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [ ]:
ex2 = pd.Series({'Tan' : 18,'Neymar' : 28,'Ronalno' : 36,'Messi' : 33,'Kaka' : 38,'Beckham' : 45})
ex2

Tan        18
Neymar     28
Ronalno    36
Messi      33
Kaka       38
Beckham    45
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [ ]:
ex1 = pd.Series([1, 4, 7, 9, 10, 12, 15, 16, 17, 18], index=['Atan', 'Btan', 'C', 'Dtan', 'E', 'Ftan', 'Gt', 'Htan', 'K', 'L'])
ex1

Atan     1
Btan     4
C        7
Dtan     9
E       10
Ftan    12
Gt      15
Htan    16
K       17
L       18
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [ ]:
ex2 = pd.Series({'Tan' : 18,'Neymar' : 28,'Ronalno' : 36,'Messi' : 33,'Kaka' : 38,'Beckham' : 45})
print(ex2[4])

38

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [ ]:
ex1 = pd.Series([1, 4, 7, 9, 10, 12, 15, 16, 17, 18], index=['Atan', 'Btan', 'C', 'Dtan', 'E', 'Ftan', 'Gt', 'Htan', 'K', 'L'])
print(ex1['Btan'])

4

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [ ]:
ex1[[name.endswith('tan') for name in ex1.index]]

Atan     1
Btan     4
Dtan     9
Ftan    12
Htan    16
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [9]:
ex1 = pd.Series([1, 4, 7, 9, 10, 12, 15, 16, 17, 18], index=['Atan', 'Btan', 'C', 'Dtan', 'E', 'Ftan', 'Gt', 'Htan', 'K', 'L'])
ex1.name = 'Gia_tri'
ex1.index.name = 'STT'
ex1

STT
Atan     1
Btan     4
C        7
Dtan     9
E       10
Ftan    12
Gt      15
Htan    16
K       17
L       18
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [10]:
np.log(ex1)

STT
Atan    0.000000
Btan    1.386294
C       1.945910
Dtan    2.197225
E       2.302585
Ftan    2.484907
Gt      2.708050
Htan    2.772589
K       2.833213
L       2.890372
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [11]:
ex1[ex1>15]

STT
Htan    16
K       17
L       18
Name: Gia_tri, dtype: int64